################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Yatzy/Yatzy/bin/Debug
/Yatzy/Yatzy/.vs/Yatzy/v14
/Yatzy/Yatzy/obj/Debug
/Yatzy/Yatzy.UnitTests/obj/Debug
/Yatzy/Yatzy.UnitTests/bin/Debug
/Yatzy/Yatzy/PortableYatzy/obj/Debug
/Yatzy/Yatzy/YatzyModernApp/bin/x86/Debug/AppX/entrypoint
/Yatzy/Yatzy/YatzyModernApp/bin/x86/Debug/AppX/WinMetadata
/Yatzy/Yatzy/PortableYatzy/bin/Debug
/Yatzy/Yatzy/YatzyModernApp/bin/x86/Debug
/Yatzy/Yatzy/YatzyModernApp/obj/x86/Debug
/Yatzy/Yatzy/ConsoleApplication/bin/Debug
/Yatzy/Yatzy/ConsoleApplication/obj/Debug
/Yatzy/Yatzy/NeuralNetwork/bin/Debug
/Yatzy/Yatzy/NeuralNetwork/obj/Debug
/Yatzy/Yatzy/ConsoleApplication/~$analysis-network90.xlsx
