################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Yatzy/Yatzy/bin/Debug
/Yatzy/Yatzy/.vs/Yatzy/v14
/Yatzy/Yatzy/obj/Debug
/Yatzy/Yatzy.UnitTests/obj/Debug
/Yatzy/Yatzy.UnitTests/bin/Debug
